### 작업할 내용
- 모든 데이터를 다 import한 다음 필요한 |r| > 0.4 인 항목만 추출하여 csv 파일로 정리

In [12]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gc

# 그래프 기본 테마 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats
from sklearn.preprocessing import LabelEncoder

### 1번 파일

In [17]:
df107 = pd.read_parquet('open/train/1.회원정보/201807_train_회원정보.parquet')
df108 = pd.read_parquet('open/train/1.회원정보/201808_train_회원정보.parquet')
df109 = pd.read_parquet('open/train/1.회원정보/201809_train_회원정보.parquet')
df110 = pd.read_parquet('open/train/1.회원정보/201810_train_회원정보.parquet')
df111 = pd.read_parquet('open/train/1.회원정보/201811_train_회원정보.parquet')
df112 = pd.read_parquet('open/train/1.회원정보/201812_train_회원정보.parquet')

df107.head()

MemoryError: Unable to allocate 42.7 MiB for an array with shape (14, 400000) and data type object

In [15]:
# 1번 데이터 병합
df1 = pd.concat([df107, df108, df109, df110, df111, df112], ignore_index=True)
df1 = df1.sort_values(by=['ID', '기준년월']).reset_index(drop=True)
df1

MemoryError: Unable to allocate 275. MiB for an array with shape (15, 2400000) and data type int64

#### 필요한 컬럼
이용금액_R3M_신용체크
이용금액_R3M_신용
_1순위카드이용금액
_2순위카드이용금액
	기준년월	ID Segment

In [ ]:
cols_to_keep = [
    '이용금액_R3M_신용체크',
    '이용금액_R3M_신용',
    '_1순위카드이용금액',
    '_2순위카드이용금액',
    '기준년월',
    'ID',
    'Segment'
]

df1 = df1[cols_to_keep]

In [ ]:
df1.head()

,이용금액_R3M_신용체크,이용금액_R3M_신용,_1순위카드이용금액,_2순위카드이용금액,기준년월,ID,Segment
0,196,196,3681,0,201807,TRAIN_000000,D
1,-1190,-1190,2529,0,201808,TRAIN_000000,D
2,868,868,3948,0,201809,TRAIN_000000,D
3,-367,-367,3157,0,201810,TRAIN_000000,D
4,-478,-478,3048,0,201811,TRAIN_000000,D

### 2번 파일 -> 0.4 이상 없음

### 3번 파일

In [ ]:
df307 = pd.read_parquet('open/train/3.승인매출정보/201807_train_승인매출정보.parquet')
df308 = pd.read_parquet('open/train/3.승인매출정보/201808_train_승인매출정보.parquet')
df309 = pd.read_parquet('open/train/3.승인매출정보/201809_train_승인매출정보.parquet')
df310 = pd.read_parquet('open/train/3.승인매출정보/201810_train_승인매출정보.parquet')
df311 = pd.read_parquet('open/train/3.승인매출정보/201811_train_승인매출정보.parquet')
df312 = pd.read_parquet('open/train/3.승인매출정보/201812_train_승인매출정보.parquet')

df307.head()

,기준년월,ID,최종이용일자_기본,최종이용일자_신판,최종이용일자_CA,최종이용일자_카드론,최종이용일자_체크,최종이용일자_일시불,최종이용일자_할부,이용건수_신용_B0M,...,승인거절건수_한도초과_B0M,승인거절건수_BL_B0M,승인거절건수_입력오류_B0M,승인거절건수_기타_B0M,승인거절건수_R3M,승인거절건수_한도초과_R3M,승인거절건수_BL_R3M,승인거절건수_입력오류_R3M,승인거절건수_기타_R3M,이용금액대
0,201807,TRAIN_000000,20180719,20180713,20180719,10101,20180203,20180709,20180713,11,...,0,0,0,0,3,3,0,0,0,01.100만원+
1,201807,TRAIN_000001,20180719,20180719,20170728,20170327,10101,20180719,20171231,13,...,0,0,0,0,3,3,0,0,0,03.30만원+
2,201807,TRAIN_000002,20180706,20180706,20180706,20151119,20141230,20180706,20180627,12,...,0,0,0,0,0,0,0,0,0,01.100만원+
3,201807,TRAIN_000003,20180721,20180715,20180721,10101,20141111,20180704,20180715,6,...,0,0,0,0,3,3,0,0,0,01.100만원+
4,201807,TRAIN_000004,20180124,20180124,10101,10101,20180512,20180124,10101,-2,...,0,0,0,0,0,0,0,0,0,09.미사용

In [ ]:
# 3번 데이터 병합
df3 = pd.concat([df307, df308, df309, df310, df311, df312], ignore_index=True)
df3 = df3.sort_values(by=['ID', '기준년월']).reset_index(drop=True)
df3

MemoryError: Unable to allocate 2.84 GiB for an array with shape (159, 2400000) and data type int64

In [ ]:
print(df3.columns.tolist())

['기준년월', 'ID', '최종이용일자_기본', '최종이용일자_신판', '최종이용일자_CA', '최종이용일자_카드론', '최종이용일자_체크', '최종이용일자_일시불', '최종이용일자_할부', '이용건수_신용_B0M', '이용건수_신판_B0M', '이용건수_일시불_B0M', '이용건수_할부_B0M', '이용건수_할부_유이자_B0M', '이용건수_할부_무이자_B0M', '이용건수_부분무이자_B0M', '이용건수_CA_B0M', '이용건수_체크_B0M', '이용건수_카드론_B0M', '이용금액_일시불_B0M', '이용금액_할부_B0M', '이용금액_할부_유이자_B0M', '이용금액_할부_무이자_B0M', '이용금액_부분무이자_B0M', '이용금액_CA_B0M', '이용금액_체크_B0M', '이용금액_카드론_B0M', '이용후경과월_신용', '이용후경과월_신판', '이용후경과월_일시불', '이용후경과월_할부', '이용후경과월_할부_유이자', '이용후경과월_할부_무이자', '이용후경과월_부분무이자', '이용후경과월_CA', '이용후경과월_체크', '이용후경과월_카드론', '이용건수_신용_R12M', '이용건수_신판_R12M', '이용건수_일시불_R12M', '이용건수_할부_R12M', '이용건수_할부_유이자_R12M', '이용건수_할부_무이자_R12M', '이용건수_부분무이자_R12M', '이용건수_CA_R12M', '이용건수_체크_R12M', '이용건수_카드론_R12M', '이용금액_일시불_R12M', '이용금액_할부_R12M', '이용금액_할부_유이자_R12M', '이용금액_할부_무이자_R12M', '이용금액_부분무이자_R12M', '이용금액_CA_R12M', '이용금액_체크_R12M', '이용금액_카드론_R12M', '최대이용금액_일시불_R12M', '최대이용금액_할부_R12M', '최대이용금액_할부_유이자_R12M', '최대이용금액_할부_무이자_R12M', '최대이용금액_부분무이자_R12M', '최대이용금액_CA_R12M', '최대이용금액_체크_R12M', '최대이용금액_카드론_R12M', '이용개월수_신용_R12M', '이용개월수_신판_R12M', '이용개월수_일시불_R12M', '이용개월수_할부_R12M', '이용개월수_할부_유이자_R12M', '이용개월수_할부_무이자_R12M', '이용개월수_부분무이자_R12M', '이용개월수_CA_R12M', '이용개월수_체크_R12M', '이용개월수_카드론_R12M', '이용건수_신용_R6M', '이용건수_신판_R6M', '이용건수_일시불_R6M', '이용건수_할부_R6M', '이용건수_할부_유이자_R6M', '이용건수_할부_무이자_R6M', '이용건수_부분무이자_R6M', '이용건수_CA_R6M', '이용건수_체크_R6M', '이용건수_카드론_R6M', '이용금액_일시불_R6M', '이용금액_할부_R6M', '이용금액_할부_유이자_R6M', '이용금액_할부_무이자_R6M', '이용금액_부분무이자_R6M', '이용금액_CA_R6M', '이용금액_체크_R6M', '이용금액_카드론_R6M', '이용개월수_신용_R6M', '이용개월수_신판_R6M', '이용개월수_일시불_R6M', '이용개월수_할부_R6M', '이용개월수_할부_유이자_R6M', '이용개월수_할부_무이자_R6M', '이용개월수_부분무이자_R6M', '이용개월수_CA_R6M', '이용개월수_체크_R6M', '이용개월수_카드론_R6M', '이용건수_신용_R3M', '이용건수_신판_R3M', '이용건수_일시불_R3M', '이용건수_할부_R3M', '이용건수_할부_유이자_R3M', '이용건수_할부_무이자_R3M', '이용건수_부분무이자_R3M', '이용건수_CA_R3M', '이용건수_체크_R3M', '이용건수_카드론_R3M', '이용금액_일시불_R3M', '이용금액_할부_R3M', '이용금액_할부_유이자_R3M', '이용금액_할부_무이자_R3M', '이용금액_부분무이자_R3M', '이용금액_CA_R3M', '이용금액_체크_R3M', '이용금액_카드론_R3M', '이용개월수_신용_R3M', '이용개월수_신판_R3M', '이용개월수_일시불_R3M', '이용개월수_할부_R3M', '이용개월수_할부_유이자_R3M', '이용개월수_할부_무이자_R3M', '이용개월수_부분무이자_R3M', '이용개월수_CA_R3M', '이용개월수_체크_R3M', '이용개월수_카드론_R3M', '이용가맹점수', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_여행이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_렌탈료이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_유선방송이용금액', '납부_건강연금이용금액', '납부_기타이용금액', '_1순위업종', '_1순위업종_이용금액', '_2순위업종', '_2순위업종_이용금액', '_3순위업종', '_3순위업종_이용금액', '_1순위쇼핑업종', '_1순위쇼핑업종_이용금액', '_2순위쇼핑업종', '_2순위쇼핑업종_이용금액', '_3순위쇼핑업종', '_3순위쇼핑업종_이용금액', '_1순위교통업종', '_1순위교통업종_이용금액', '_2순위교통업종', '_2순위교통업종_이용금액', '_3순위교통업종', '_3순위교통업종_이용금액', '_1순위여유업종', '_1순위여유업종_이용금액', '_2순위여유업종', '_2순위여유업종_이용금액', '_3순위여유업종', '_3순위여유업종_이용금액', '_1순위납부업종', '_1순위납부업종_이용금액', '_2순위납부업종', '_2순위납부업종_이용금액', '_3순위납부업종', '_3순위납부업종_이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', '할부건수_14M_R12M', '할부금액_3M_R12M', '할부금액_6M_R12M', '할부금액_12M_R12M', '할부금액_14M_R12M', '할부건수_유이자_3M_R12M', '할부건수_유이자_6M_R12M', '할부건수_유이자_12M_R12M', '할부건수_유이자_14M_R12M', '할부금액_유이자_3M_R12M', '할부금액_유이자_6M_R12M', '할부금액_유이자_12M_R12M', '할부금액_유이자_14M_R12M', '할부건수_무이자_3M_R12M', '할부건수_무이자_6M_R12M', '할부건수_무이자_12M_R12M', '할부건수_무이자_14M_R12M', '할부금액_무이자_3M_R12M', '할부금액_무이자_6M_R12M', '할부금액_무이자_12M_R12M', '할부금액_무이자_14M_R12M', '할부건수_부분_3M_R12M', '할부건수_부분_6M_R12M', '할부건수_부분_12M_R12M', '할부건수_부분_14M_R12M', '할부금액_부분_3M_R12M', '할부금액_부분_6M_R12M', '할부금액_부분_12M_R12M', '할부금액_부분_14M_R12M', 'RP건수_B0M', 'RP금액_B0M', 'RP유형건수_B0M', 'RP건수_통신_B0M', 'RP건수_아파트_B0M', 'RP건수_제휴사서비스직접판매_B0M', 'RP건수_렌탈_B0M', 'RP건수_가스_B0M', 'RP건수_전기_B0M', 'RP건수_보험_B0M', 'RP건수_학습비_B0M', 'RP건수_유선방송_B0M', 'RP건수_건강_B0M', 'RP건수_교통_B0M', 'RP후경과월', 'RP후경과월_통신', 'RP후경과월_아파트', 'RP후경과월_제휴사서비스직접판매', 'RP후경과월_렌탈', 'RP후경과월_가스', 'RP후경과월_전기', 'RP후경과월_보험', 'RP후경과월_학습비', 'RP후경과월_유선방송', 'RP후경과월_건강', 'RP후경과월_교통', '증감_RP건수_전월', '증감_RP유형건수_전월', '증감_RP건수_통신_전월', '증감_RP건수_아파트_전월', '증감_RP건수_제휴사서비스직접판매_전월', '증감_RP건수_렌탈_전월', '증감_RP건수_가스_전월', '증감_RP건수_전기_전월', '증감_RP건수_보험_전월', '증감_RP건수_학습비_전월', '증감_RP건수_유선방송_전월', '증감_RP건수_건강_전월', '증감_RP건수_교통_전월', '최초카드론이용경과월', '최종카드론이용경과월', '카드론이용건수_누적', '카드론이용월수_누적', '카드론이용금액_누적', '최종카드론_금융상환방식코드', '최종카드론_신청경로코드', '최종카드론_대출이율', '최종카드론_대출일자', '최종카드론_대출월수', '최종카드론_거치개월수', '최종카드론_대출금액', '이용개월수_온라인_R6M', '이용개월수_오프라인_R6M', '이용금액_온라인_R6M', '이용금액_오프라인_R6M', '이용건수_온라인_R6M', '이용건수_오프라인_R6M', '이용금액_온라인_R3M', '이용금액_오프라인_R3M', '이용건수_온라인_R3M', '이용건수_오프라인_R3M', '이용금액_온라인_B0M', '이용금액_오프라인_B0M', '이용건수_온라인_B0M', '이용건수_오프라인_B0M', '이용개월수_페이_온라인_R6M', '이용개월수_페이_오프라인_R6M', '이용금액_페이_온라인_R6M', '이용금액_페이_오프라인_R6M', '이용건수_페이_온라인_R6M', '이용건수_페이_오프라인_R6M', '이용금액_페이_온라인_R3M', '이용금액_페이_오프라인_R3M', '이용건수_페이_온라인_R3M', '이용건수_페이_오프라인_R3M', '이용금액_페이_온라인_B0M', '이용금액_페이_오프라인_B0M', '이용건수_페이_온라인_B0M', '이용건수_페이_오프라인_B0M', '이용개월수_간편결제_R6M', '이용개월수_당사페이_R6M', '이용개월수_당사기타_R6M', '이용개월수_A페이_R6M', '이용개월수_B페이_R6M', '이용개월수_C페이_R6M', '이용개월수_D페이_R6M', '이용금액_간편결제_R6M', '이용금액_당사페이_R6M', '이용금액_당사기타_R6M', '이용금액_A페이_R6M', '이용금액_B페이_R6M', '이용금액_C페이_R6M', '이용금액_D페이_R6M', '이용건수_간편결제_R6M', '이용건수_당사페이_R6M', '이용건수_당사기타_R6M', '이용건수_A페이_R6M', '이용건수_B페이_R6M', '이용건수_C페이_R6M', '이용건수_D페이_R6M', '이용금액_간편결제_R3M', '이용금액_당사페이_R3M', '이용금액_당사기타_R3M', '이용금액_A페이_R3M', '이용금액_B페이_R3M', '이용금액_C페이_R3M', '이용금액_D페이_R3M', '이용건수_간편결제_R3M', '이용건수_당사페이_R3M', '이용건수_당사기타_R3M', '이용건수_A페이_R3M', '이용건수_B페이_R3M', '이용건수_C페이_R3M', '이용건수_D페이_R3M', '이용금액_간편결제_B0M', '이용금액_당사페이_B0M', '이용금액_당사기타_B0M', '이용금액_A페이_B0M', '이용금액_B페이_B0M', '이용금액_C페이_B0M', '이용금액_D페이_B0M', '이용건수_간편결제_B0M', '이용건수_당사페이_B0M', '이용건수_당사기타_B0M', '이용건수_A페이_B0M', '이용건수_B페이_B0M', '이용건수_C페이_B0M', '이용건수_D페이_B0M', '이용개월수_선결제_R6M', '이용횟수_선결제_R6M', '이용금액_선결제_R6M', '이용건수_선결제_R6M', '이용횟수_선결제_R3M', '이용금액_선결제_R3M', '이용건수_선결제_R3M', '이용횟수_선결제_B0M', '이용금액_선결제_B0M', '이용건수_선결제_B0M', '이용횟수_연체_R6M', '이용금액_연체_R6M', '이용횟수_연체_R3M', '이용금액_연체_R3M', '이용횟수_연체_B0M', '이용금액_연체_B0M', '이용개월수_전체_R6M', '이용개월수_전체_R3M', '이용개월수_결제일_R6M', '이용개월수_결제일_R3M', '가맹점매출금액_B1M', '가맹점매출금액_B2M', '정상청구원금_B0M', '선입금원금_B0M', '정상입금원금_B0M', '연체입금원금_B0M', '정상청구원금_B2M', '선입금원금_B2M', '정상입금원금_B2M', '연체입금원금_B2M', '정상청구원금_B5M', '선입금원금_B5M', '정상입금원금_B5M', '연체입금원금_B5M', '건수_할부전환_R6M', '건수_할부전환_R3M', '금액_할부전환_R6M', '금액_할부전환_R3M', '연속무실적개월수_기본_24M_카드', '연속유실적개월수_기본_24M_카드', '신청건수_ATM_CA_B0', '신청건수_ATM_CL_B0', '신청건수_ATM_CA_R6M', '신청건수_ATM_CL_R6M', '승인거절건수_B0M', '승인거절건수_한도초과_B0M', '승인거절건수_BL_B0M', '승인거절건수_입력오류_B0M', '승인거절건수_기타_B0M', '승인거절건수_R3M', '승인거절건수_한도초과_R3M', '승인거절건수_BL_R3M', '승인거절건수_입력오류_R3M', '승인거절건수_기타_R3M', '이용금액대']

In [ ]:
cols_to_keep = [
    '정상청구원금_B0M',
    '정상청구원금_B2M',
    '이용금액_일시불_R12M',
    '이용금액_일시불_B0M',
    '이용금액_일시불_R6M',
    '이용금액_일시불_R3M',
    '이용금액_오프라인_B0M',
    '정상입금원금_B5M',
    '정상입금원금_B0M',
    '이용금액_오프라인_R3M',
    '이용금액_오프라인_R6M',
    '정상입금원금_B2M',
    '_3순위업종_이용금액',
    '_2순위업종_이용금액',
    '_2순위쇼핑업종_이용금액',
    '최대이용금액_일시불_R12M',
    '이용금액대',
    '이용건수_신용_R12M',
    '이용건수_신판_R12M',
    '이용건수_일시불_R12M',
    '_1순위업종_이용금액',
    '_3순위쇼핑업종_이용금액',
    '이용건수_오프라인_B0M',
    '이용가맹점수',
    '쇼핑_도소매_이용금액',
    '이용건수_오프라인_R6M',
    '이용건수_오프라인_R3M',
    '이용건수_신용_B0M',
    '이용건수_신용_R6M',
    '이용건수_신용_R3M',
    '이용건수_신판_B0M',
    '이용건수_신판_R6M',
    '이용건수_일시불_B0M',
    '이용건수_신판_R3M',
    '이용건수_일시불_R6M',
    '이용건수_일시불_R3M',
    '_1순위교통업종_이용금액',
    '연체입금원금_B0M',
    '기준년월',
    'ID'
]
df3 = df3[cols_to_keep]
df3.head()

,정상청구원금_B0M,정상청구원금_B2M,이용금액_일시불_R12M,이용금액_일시불_B0M,이용금액_일시불_R6M,이용금액_일시불_R3M,이용금액_오프라인_B0M,정상입금원금_B5M,정상입금원금_B0M,이용금액_오프라인_R3M,...,이용건수_신판_B0M,이용건수_신판_R6M,이용건수_일시불_B0M,이용건수_신판_R3M,이용건수_일시불_R6M,이용건수_일시불_R3M,_1순위교통업종_이용금액,연체입금원금_B0M,기준년월,ID
0,14440,16524,20667,1995,8380,2877,4043,9205,6335,4131,...,9,67,8,22,64,21,200,8104,201807,TRAIN_000000
1,15008,15712,22754,905,7041,1250,3883,11161,7685,4852,...,5,64,5,18,62,17,204,7322,201808,TRAIN_000000
2,15536,14440,24100,1102,8282,4002,3926,16705,8113,11853,...,5,60,5,19,58,18,207,7422,201809,TRAIN_000000
3,15251,15008,23647,1037,5922,3045,3906,15950,7293,11715,...,5,37,5,15,36,15,212,7958,201810,TRAIN_000000
4,15028,15536,24417,1063,4454,3203,3918,16718,7164,11751,...,5,33,5,15,32,15,210,7864,201811,TRAIN_000000

### 4번 파일

In [ ]:
df407 = pd.read_parquet('open/train/4.청구입금정보/201807_train_청구정보.parquet')
df408 = pd.read_parquet('open/train/4.청구입금정보/201808_train_청구정보.parquet')
df409 = pd.read_parquet('open/train/4.청구입금정보/201809_train_청구정보.parquet')
df410 = pd.read_parquet('open/train/4.청구입금정보/201810_train_청구정보.parquet')
df411 = pd.read_parquet('open/train/4.청구입금정보/201811_train_청구정보.parquet')
df412 = pd.read_parquet('open/train/4.청구입금정보/201812_train_청구정보.parquet')

df407.head()

,기준년월,ID,대표결제일,대표결제방법코드,대표청구지고객주소구분코드,대표청구서수령지구분코드,청구서수령방법,청구서발송여부_B0,청구서발송여부_R3M,청구서발송여부_R6M,...,할인금액_청구서_B0M,상환개월수_결제일_R6M,상환개월수_결제일_R3M,선결제건수_R6M,선결제건수_R3M,연체건수_R6M,연체건수_R3M,혜택수혜금액_R3M,포인트_마일리지_환산_B0M,혜택수혜금액
0,201807,TRAIN_000000,27,자동이체,미확인,당사페이앱+이메일,문자메세지,1,1,1,...,0,5,3,0,0,1,0,3,0,0
1,201807,TRAIN_000001,13,자동이체,주거지,우편,우편,1,1,1,...,163,6,3,0,0,0,0,0,0,0
2,201807,TRAIN_000002,1,자동이체,미확인,이메일,이메일,1,1,1,...,0,6,3,0,0,0,0,121,0,50
3,201807,TRAIN_000003,5,자동이체,주거지,우편,우편,1,1,1,...,0,5,3,2,0,0,0,3,0,2
4,201807,TRAIN_000004,13,자동이체,주거지,우편,우편,0,1,1,...,0,1,1,0,0,0,0,0,0,0

In [ ]:
# 4번 데이터 병합
df4 = pd.concat([df407, df408, df409, df410, df411, df412], ignore_index=True)
df4 = df4.sort_values(by=['ID', '기준년월']).reset_index(drop=True)
df4

,기준년월,ID,대표결제일,대표결제방법코드,대표청구지고객주소구분코드,대표청구서수령지구분코드,청구서수령방법,청구서발송여부_B0,청구서발송여부_R3M,청구서발송여부_R6M,...,할인금액_청구서_B0M,상환개월수_결제일_R6M,상환개월수_결제일_R3M,선결제건수_R6M,선결제건수_R3M,연체건수_R6M,연체건수_R3M,혜택수혜금액_R3M,포인트_마일리지_환산_B0M,혜택수혜금액
0,201807,TRAIN_000000,27,자동이체,미확인,당사페이앱+이메일,문자메세지,1,1,1,...,0,5,3,0,0,1,0,3,0,0
1,201808,TRAIN_000000,27,자동이체,미확인,당사페이앱+이메일,문자메세지,1,1,1,...,0,5,3,0,0,1,0,3,0,0
2,201809,TRAIN_000000,27,자동이체,미확인,당사페이앱+이메일,문자메세지,1,1,1,...,0,6,3,0,0,0,0,0,0,0
3,201810,TRAIN_000000,27,자동이체,미확인,당사페이앱+이메일,문자메세지,1,1,1,...,0,6,3,0,0,0,0,0,0,0
4,201811,TRAIN_000000,27,자동이체,미확인,당사페이앱+이메일,문자메세지,1,1,1,...,0,6,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201808,TRAIN_399999,23,자동이체,주거지,우편,우편,1,1,1,...,0,6,3,0,0,0,0,0,0,0
2399996,201809,TRAIN_399999,23,자동이체,주거지,우편,우편,1,1,1,...,0,6,3,0,0,0,0,0,0,0
2399997,201810,TRAIN_399999,23,자동이체,주거지,우편,우편,1,1,1,...,0,6,3,0,0,0,0,0,0,0
2399998,201811,TRAIN_399999,23,자동이체,주거지,우편,우편,1,1,1,...,0,6,3,0,0,0,0,0,0,0
2399999,201812,TRAIN_399999,23,자동이체,주거지,우편,우편,1,1,1,...,0,6,3,0,0,0,0,0,0,0

In [ ]:
cols_to_keep = [
    '청구금액_R6M',
    '청구금액_R3M',
    '청구금액_B0',
    '기준년월',
    'ID'
]

df4 = df4[cols_to_keep]
df4.head()

   청구금액_R6M  청구금액_R3M  청구금액_B0    기준년월            ID
0     88693     46588    12226  201807  TRAIN_000000
1    119419     53336    15756  201808  TRAIN_000000
2    132269     43715    15732  201809  TRAIN_000000
3     92304     45716    14227  201810  TRAIN_000000
4     97254     43918    13958  201811  TRAIN_000000

### 5번 파일

In [ ]:
df507 = pd.read_parquet('open/train/5.잔액정보/201807_train_잔액정보.parquet')
df508 = pd.read_parquet('open/train/5.잔액정보/201808_train_잔액정보.parquet')
df509 = pd.read_parquet('open/train/5.잔액정보/201809_train_잔액정보.parquet')
df510 = pd.read_parquet('open/train/5.잔액정보/201810_train_잔액정보.parquet')
df511 = pd.read_parquet('open/train/5.잔액정보/201811_train_잔액정보.parquet')
df512 = pd.read_parquet('open/train/5.잔액정보/201812_train_잔액정보.parquet')



df507.head()

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,15988,2440,0,0,0,572,0,17008,0,0
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,7045,2677,0,2830,0,2736,0,0,0,0
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,66549,9118,0,8870,0,4429,0,43351,0,0
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,30139,884,0,0,0,5097,0,30697,0,0
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,28,21,0,0,0,0,0,0,0,0

In [ ]:
# 5번 데이터 병합
df5 = pd.concat([df507, df508, df509, df510, df511, df512], ignore_index=True)
df5 = df5.sort_values(by=['ID', '기준년월']).reset_index(drop=True)
df5

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,15988,2440,0,0,0,572,0,17008,0,0
1,201808,TRAIN_000000,780,936,24211,0,0,0,1092,595,...,20807,2697,0,0,0,627,0,19050,0,0
2,201809,TRAIN_000000,756,868,24806,0,0,0,889,582,...,26083,2735,0,0,0,594,0,19423,0,0
3,201810,TRAIN_000000,705,903,24368,0,0,0,857,554,...,25575,2562,0,0,0,593,0,20268,0,0
4,201811,TRAIN_000000,684,876,24297,0,0,0,835,529,...,25973,2431,0,0,0,614,0,20564,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201808,TRAIN_399999,1292,3882,0,0,0,0,1219,2942,...,8357,1600,0,0,0,5153,0,0,0,0
2399996,201809,TRAIN_399999,948,3535,0,0,0,0,882,2751,...,12558,1742,0,0,0,5607,0,0,0,0
2399997,201810,TRAIN_399999,1171,3457,0,0,0,0,1321,1992,...,11226,1410,0,0,0,3824,0,0,0,0
2399998,201811,TRAIN_399999,953,4109,0,0,0,0,1027,2292,...,8656,993,0,0,0,3652,0,0,0,0
2399999,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,5463,1053,0,0,0,4373,0,0,0,0

In [ ]:

cols_to_keep = [
    '평잔_일시불_6M',
    '월중평잔_일시불_B0M',
    '월중평잔_일시불',
    '평잔_일시불_3M',
    '잔액_할부_B0M',
    '기준년월',
    'ID'
]

df5 = df5[cols_to_keep]
df5.head()

,평잔_일시불_6M,월중평잔_일시불_B0M,월중평잔_일시불,평잔_일시불_3M,잔액_할부_B0M,기준년월,ID
0,2440,1084,1503,1791,962,201807,TRAIN_000000
1,2697,1092,1388,1736,936,201808,TRAIN_000000
2,2735,889,1200,1636,868,201809,TRAIN_000000
3,2562,857,1035,1582,903,201810,TRAIN_000000
4,2431,835,1040,1496,876,201811,TRAIN_000000

### outer join

In [ ]:
df_merged = df1.merge(df3, on='ID', how='left') \

df_merged

NameError: name 'df3' is not defined